.row
  .col-md-6
    .form_group
      %label{:for => "#{template_field.clean_label}_field"}
        = "#{template_field.label}: "
      = file_field_tag "#{template_field.clean_label}_field", name: "post[images][#{template_field.clean_label}]", :class => "form-control"
