.row
  .col-md-6
    .form_group
      %label{:for => "#{template_field.clean_label}_field"}
        = "#{template_field.clean_label}: "
      - image_url = value ? value["image_url"] : nil
      = file_field_tag "#{template_field.clean_label}_field", name: "post[images][#{template_field.clean_label}]", value: image_url, :class => "form-control"
      - if image_url
        = image_tag @post.image_for_field(template_field).image.url(:small)
