%h1= @post_collection.title
%h2 new post

= simple_form_for :post, url: post_collections_create_post_path do |f|
  - @template.template_fields.each do |template_field|
    = f.label template_field.label
    = text_field_tag :test

  = f.input :post_template_id, :as => :hidden, :input_html => { :value => @template.id }
  = f.input :user_id, :as => :hidden, :input_html => { :value => @user.id }
  = f.submit