%h1= @post_collection.title
%h2 new post

= simple_form_for :post, url: post_collections_create_post_path do |f|
  - @template.template_fields.each do |template_field|
    = f.input template_field.label, input_html: { name: "post[field_values][#{template_field.label}]"}

  = f.hidden_field :post_template_id, value: @template.id
  = f.hidden_field :user_id, value: @user.id
  = f.hidden_field :post_collection_id, value: @post_collection.id
  = f.submit
