= simple_form_for @post, url: post_collections_create_post_path do |f|
  - @post.template.template_fields.each do |template_field|

    = #f.input template_field.label, input_html: { name: "post[field_values][#{template_field.label}]", value: template_field.value}

  = f.hidden_field :post_template_id, value: @post.post_template_id
  = f.hidden_field :user_id, value: @post.user_id
  = f.hidden_field :post_collection_id, value: @post.post_collection_id
  = f.submit
