!!!
%html{lang: 'en'}
  %head
    %title= "Lawntent"
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %nav.lawntent-header.navbar.navbar-default
      .navbar-brand
        = link_to "Lawn Tent", root_path
      .nav.navbar-right.navbar-brand.welcome-message
        - if user_signed_in?
          = "Hi #{current_user.email}!"
        - else
          = link_to "login", login_path
    .container
      .row
        %p.notice= notice
        %p.alert= alert

        = yield
      %hr
      .row.text-center
        = "#{Date.today.year} Lawntent"
      .row.text-center
        %i.fa.fa-code
        with
        %i.fa.fa-beer
        by
        = link_to "Dave", "http://dinosaurseateverybody.com"
