!!!
%html{lang: 'en'}
  %head
    %title= "Lawntent"
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default
      .navbar-brand
        = link_to "Lawn Tent", root_path
      .nav.navbar-right
        - if user_signed_in?
          = "Hi #{current_user.email}!"
        - else
          = link_to "login", login_path
    .container
      .row
        %p.notice= notice
        %p.alert= alert

        = yield
      .row.text-center
        = "#{Date.today.year} Lawntent"
